<!DOCTYPE html>
<html>
  <head>
    <title>Foodapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <title>Blog</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,300" rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
     <nav class="be-red white large-padding">
       <ul class="no-list row center-xs middle-xs">
         <li class="col-md">
           <h1 class="no-margin" id= "logo"> FoodWare</h1>
         </li>
         <li class="col-md">
           <%= link_to "Inicio", root_path %>
         </li>
         <li class="col-md">
           <%= link_to "Restaurants", foodplaces_path %>
         </li>
         <li class="col-md">
           <%= link_to "Top 10", foodplaces_path %>
         </li>
         <% if user_signed_in? %>
           <li class= "col-md">
            <%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %>
           </li>
         <%else%>
            <li class="col-md">
             <%= link_to "Iniciar Sesión", new_user_session_path %>
            </li>
            <li class="col-md">
            <%= link_to "Crear Cuenta", new_user_registration_path %>
            </li>
         <%end%>
        </ul>

     </nav>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>

